[Desktop Entry]
Name=clamtk
Exec=clamtk %F
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;application/octet-stream;
X-KDE-StartupNotify=true;
Actions=openScanner;

[Desktop Action openScanner]
Icon=clamtk
Exec=clamtk %F
Name=Scan for threats...
Name[ar]=إمسح للكشف عن الفيروسات
Name[ast]=Buscar amenaces...
Name[az]=Təhlükə mövcudluğuna yoxla...
Name[bg]=Проверка за наличие на заплахи ...
Name[bs]=Pretraga za virusima...
Name[cs]=Skenování hrozeb...
Name[da]=Skan for virus...
Name[de]=Auf Bedrohungen untersuchen…
Name[el]=Έλεγχος για ιούς...
Name[en]=Scan for threats...
Name[en_AU]=Scan for threats...
Name[en_CA]=Scan for threats...
Name[en_GB]=Scan for threats...
Name[es]=Analizar en busca de amenazas…
Name[fi]=Tarkista uhkien varalta...
Name[fo]=Skanna eftir virus...
Name[fr]=Rechercher des menaces...
Name[gl]=Buscar ameazas...
Name[he]=סריקה לאיתור איומים…
Name[hr]=Pretraživanje virusa...
Name[hu]=Vírusok keresése...
Name[id]=Pindai untuk ancaman...
Name[it]=Analizza per la ricerca di minacce...
Name[ja]=ウィルスをスキャンします...
Name[ko]=위험 요소를 검사합니다...
Name[ms]=Imbas jika ada ancaman...
Name[nl]=Scannen op virussen…
Name[nb]=Skann etter virus...
Name[nn]=Skann...
Name[pl]=Przeskanuj pliki w poszukiwaniu wirusów...
Name[pt]=A analizar ameaças...
Name[pt_BR]=Verificar se há vírus...
Name[ro]=Scanare pentru amenințări...
Name[ru]=Проверка на наличие угроз...
Name[sk]=Skenovanie hrozieb...
Name[sl]=Preglej za virusi...
Name[sr@latin]=Skeniranje pretnji...
Name[sv]=Skanna efter virus...
Name[te]=వైరస్సుల కోసం సంశోధిస్తున్నది...
Name[tr]=Virüs taraması yap...
Name[ug]=ۋىرۇس تەكشۈر…
Name[uk]=Шукати загрози…
Name[uz]=Хавф учун текшириш...
Name[zh_CN]=扫描威胁...
Name[zh_TW]=掃描威脅...
